@import "../layout";

.hp-carousel {
  max-width: $pageWidth;
  margin: 40px auto 0 auto;
  width: 100%;
  .slick-list {
    border-radius: 15px;
    border: 1px solid #555;
    .slick-slide {
      overflow: hidden;
      max-height: 500px;
      height: 100%;
      .hp-slide {
        position: relative;
        height: 500px;
        max-height: 500px;
        background-position: center;
        background-size: cover;

        filter: grayscale(1);
        .hp-slide__inner-container {
          height: 100%;
          width: 45%;
          z-index: 9;
          position: relative;
          padding: 40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-size: 4rem;
            text-transform: uppercase;
            color: $primaryColour;
            font-weight: 600;
            margin-bottom: 0px;
          }
          h4 {
            font-size: 2rem;
            text-transform: capitalize;
            color: $primaryColour;
            font-weight: 400;
            margin-bottom: 8px;
            line-height: 40px;
          }
          p {
            font-size: 1rem;
            color: $primaryColour;
            font-weight: 300;
            line-height: 21px;
          }
          .slide-btns {
            display: flex;
            align-items: center;
            width: 100%;
            a {
              display: block;
              margin-right: 20px;
              text-decoration: unset;
              transition: all 0.3s ease-in-out;
              width: 100%;
              max-width: 200px;
              text-align: center;
              font-size: 0;
              .slide-btn {
                padding: 15px 50px;
                border-radius: 50px;
                font-size: 0.9rem;
                font-weight: 600;
                text-transform: uppercase;
              }
              .slide-btn.cta {
                background-color: $primaryColour;
                color: $secondaryColour;
                box-shadow: $boxshadow;
                border: 1px solid $primaryColour;
              }
              .slide-btn.more {
                border: 1px solid $altColour;
                color: $primaryColour;
                box-shadow: $boxshadow;
              }
              &:hover {
                opacity: 0.6;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .slide-overlay {
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba($secondaryColour, 1) 90%
        );
        background: -webkit-linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba($secondaryColour, 1) 90%
        );
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba($secondaryColour, 1) 90%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#444444",GradientType=1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.hp-carousel {
  .slick-dots {
    position: unset;
    margin-top: 15px;
    li {
      margin: 0;
      button {
        &:before {
          color: $tertiaryColor;
          font-size: 12px;
        }
      }
    }
    li.slick-active {
      button {
        &:before {
          color: $hightlightColour;
        }
      }
    }
  }
}

// TABLETS
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hp-carousel .slick-list .slick-slide .hp-slide .hp-slide__inner-container {
    width: 60%;
  }
}

// TABLETS
@media only screen and (min-width: 992px) {
  .hp-carousel {
    padding: 0 20px;
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 992px) {
  .hp-carousel {
    margin: 0 auto;
    .slick-list {
      border-radius: unset;
      border: unset;
      .slick-slide {
        .hp-slide {
          .hp-slide__inner-container {
            width: 100%;
            padding: 20px 20px 50px 20px;
            .slide-btns {
              flex-direction: column;
              text-align: center;
              align-items: flex-start;
              a {
                margin-bottom: 15px;
                margin-right: 0;
                width: 100%;
                .slide-btn {
                  padding: 19.75px 50px;
                  max-width: 400px;
                }
              }
            }
            h3 {
              font-size: 2.8rem;
              //word-break: break-all;
            }
            h4 {
              font-size: 1.4rem;
              line-height: 30px;
            }
            p {
              font-size: 0.9rem;
            }
          }
        }
        .slide-overlay {
          background: linear-gradient(-90deg, transparent, #1a1a1a 55%);
          backdrop-filter: blur(2px);
        }
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
      margin: 0;
      li {
        margin: 0;
        button {
          &:before {
            color: #333;
            opacity: 1;
          }
        }
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (min-width: 450px) {
  .hp-carousel .slick-list .slick-slide {
    max-height: 500px;
  }
}

// SMALL IPHONE
@media only screen and (max-width: 450px) {
  .hp-carousel {
    .slick-list {
      .slick-slide {
        .hp-slide {
          //margin-top: -20px;
          // margin-bottom: -5px;
          .hp-slide__inner-container {
            .slide-title {
              display: none;
            }
            .slide-btns {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              a {
                max-width: unset;
                .slide-btn {
                  max-width: unset;
                }
                &:nth-child(1) {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  z-index: 9;
                  margin-bottom: unset;
                  .slide-btn {
                    border-radius: unset;
                    height: 100%;
                    font-size: 0;
                    border: unset;
                    background-color: transparent;
                    box-shadow: unset;
                  }
                }
                &:nth-child(2) {
                  display: none;
                }
              }
            }
          }
          .slide-overlay {
            background: unset;
            backdrop-filter: unset;
          }
        }
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 400px) {
  .hp-carousel {
    .slick-list {
      .hp-slide {
        .hp-slide__inner-container {
          h3 {
            word-break: break-word;
          }
        }
      }
    }
  }
}

// //////////////////////

.html-video-container {
  // transform: scale(1.227);
  // transform: scale(1.9);
  /*     
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));  
     */
  // -webkit-mask-image: -webkit-gradient(
  //   linear,
  //   left top,
  //   left bottom,
  //   from(rgba(0, 0, 0, 1)),
  //   to(rgba(0, 0, 0, 0))
  // );
  // mask-image: -webkit-gradient(
  //   linear,
  //   left top,
  //   left bottom,
  //   from(rgba(0, 0, 0, 1)),
  //   to(rgba(0, 0, 0, 0))
  // );
  background-color: $secondaryColour;
  max-width: 1920px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  // opacity: 0.3;
  position: relative;
  // filter: grayscale(1);
  z-index: 0;
}

.html-video-container__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1a1a1a;
  z-index: 9;
  opacity: 0.6;
}

.html-video-container__logo {
  max-width: 450px;
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -225px;
  top: 50%;
  transform: translateY(-50%);
}

.html-video-container__logo img {
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}

.html-video-container video {
  width: 100%;
  height: 100%;
  transform: translateY(-23%);
  // filter: blur(5px);
  // transform: scale(1.2);
}
// .html-video-container .mask {
//   top: 0;
//   left: 0;
//   right: 0;
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   background-size: contain;
//   background-repeat: no-repeat;
// }
// @media (min-width: 1940px) {
//   .html-video-container .mask {
//     box-shadow: 100px 0px 100px $primary-color inset,
//       -100px 0px 100px $primary-color inset;
//     background: radial-gradient(circle, transparent 75%, $primary-color 30%);
//   }
// }

@media only screen and (max-width: 1415px) {
  /*     .html-video-container {display: none;}  */
  //   .html-video-container .mask {
  //     display: none;
  //   }
}
@media only screen and (min-width: 992px) and (max-width: 1415px) {
  .html-video-container video {
    transform: scale(1.5);
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .html-video-container video {
    transform: scale(2);
  }
}

@media only screen and (max-width: 600px) {
  .html-video-container {
    // position: absolute;
    // left: 0;
    // top: 0;
    min-height: 500px;
  }
  .html-video-container video {
    width: unset;
    height: unset;
    left: -100%;
    position: relative;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  // .html-video-container {
  //   // transform: scale(1.1);
  // }
  .html-video-container__logo {
    max-width: 250px;
    margin-left: -125px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 350px) {
}
