@import "../layout";

.partner-carousel {
  max-width: $pageWidth;
  margin: 30px auto 40px auto;
  filter: grayscale(1);
  padding: 0 20px;
  .partner-carousel__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    svg {
      margin-left: 16px;
      width: 20px;
    }
  }
  .slick-slider {
    max-width: 600px;
    margin: 0 auto;
  }
  .slick-slide {
    img {
      max-width: 125px;
      margin: 0 auto;
    }
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 992px) {
}

// PHONES/TABLETS
@media only screen and (max-width: 767px) {
  .partner-carousel {
    margin: 30px auto 40px auto;
    .partner-carousel__title {
      margin-bottom: 30px;
    }
    .slick-slide {
      img {
        max-width: 75px;
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 320px) {
}
