@import "../components/layout";

.events-page {
  background-color: $primaryColour;
  .events-page__inner-container {
    max-width: $pageWidth;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 20px 100px 20px;
    .events-title-container {
      padding-bottom: 30px;
      margin-bottom: 50px;
      border-bottom: 2px solid $altColour;
      .events-title-container__title {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        h1 {
          font-size: 4rem;
          margin-top: 0;
          margin-bottom: 0px;
        }
        #events-counter {
          background-color: $hightlightColour;
          padding: 5px 15px;
          border-radius: 50px;
          color: $primaryColour;
          font-weight: 600;
          margin-left: 15px;
          margin-top: 5px;
          font-size: 0.88rem;
        }
      }
      .events-title-container__filters {
        display: flex;
        align-items: center;
        label {
          font-size: 1.2rem;
          color: $secondaryColour;
          margin-right: 15px;
          font-weight: 500;
        }
        select#CatSelect {
          width: 100%;
          max-width: 178px;
          border-radius: 5px;
          font-weight: 500;
          padding: 0 10px;
          height: 31px;
          border: 1px solid $altColour;
          background-color: $primaryColour;
          &:focus {
            outline: unset;
            border-color: $hightlightColour;
          }
          option {
            &:checked {
              background-color: $hightlightColour;
              color: $primaryColour;
            }
          }
        }
        a {
          text-decoration: unset;
          color: $altColour;
          margin-left: 50px;
          h3 {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.eventpage-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // .loading-message {
  //   margin-bottom: 0;
  //   margin-top: 0;
  //   margin-left: 20px;
  //   padding: 4px 15px;
  //   /* SUCCESS COLOR: #4BD665; */
  //   // WARNING COLOR: #FEC120
  //   border-left: 5px solid #666;
  //   border-radius: 5px;
  //   font-weight: 400;
  //   display: inline-block;
  //   font-size: 0.9rem;
  //   box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
  //     rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  // }
  .loading-message.loaded {
    display: none;
  }
  .event-card {
    display: flex;
    width: calc(50% - 20px);
    margin-bottom: 40px;
    // padding: 20px;
    .event-card__poster {
      width: 35%;
      overflow: hidden;
      position: relative;
      z-index: 9;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: $tertiaryColor;
      box-shadow: rgba($tertiaryColor, 0.4) 0px 2px 4px,
        rgba($tertiaryColor, 0.3) 0px 7px 13px -3px,
        rgba($tertiaryColor, 0.2) 0px -3px 0px inset;
      filter: drop-shadow(10px 4px 14px rgba(0, 0, 0, 0.25));
      .event-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 143.57%;
        width: 100%;
      }
    }
    .event-card__information {
      width: 65%;
      position: relative;
      background-color: $tertiaryColor;
      padding: 30px 40px 30px 50px;
      margin: 15px 0 15px -10px;
      border-radius: 0px 20px 20px 0;
      h2 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 36px;
        max-height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      p.event-summary {
        color: $altColourTwo;
        margin-bottom: 15px;
        max-height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .event-tag-container {
        display: flex;
        align-items: center;
        margin: 10px 0 15px 0;
        // justify-content: space-evenly;
        .event-tag-container__venue {
          display: flex;
          align-items: center;
          background-color: $primaryColour;
          // padding: 5px;
          border-radius: 5px;
          .venue-map-icon__map {
            background-color: #666666;
            padding: 6px 10px;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            svg {
              color: $primaryColour;
              font-size: 12px;
            }
          }
          h4 {
            margin: 0 6px;
            font-size: 0.77rem;
          }
        }
        .event-tag-container__category {
          background-color: $primaryColour;
          padding: 5.25px 25px;
          margin-left: 10px;
          border-radius: 5px;
          h4 {
            margin: 0;
            font-size: 0.77rem;
          }
        }
      }
      .event-time-container {
        margin-bottom: 30px;
        p {
          margin-bottom: 5px;
          color: $altColourTwo;
          font-size: 0.9rem;
        }
        h5 {
          color: $primaryColour;
          font-weight: 600;
        }
      }
      .event-card-footer-container {
        display: flex;
        justify-content: space-between;
        .event-card-footer-container__inner-container {
          display: flex;
          align-items: center;
          width: 65%;
          justify-content: space-between;
          .event-card-footer-container__share {
            display: flex;
            align-items: center;
            p {
              margin-bottom: 0;
              margin-left: 10px;
              color: $altColourTwo;
              font-weight: 500;
              font-size: 0.9rem;
            }
            &:hover {
              cursor: pointer;
            }
          }
          .event-card-footer-container__price {
            h5 {
              margin-bottom: 0;
              margin-right: 10px;
              color: $primaryColour;
              font-size: 1.1rem;
              font-weight: 600;
            }
          }
        }
        .event-card-footer-container__btn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 35%;
          a {
            button {
              text-transform: uppercase;
              border: unset;
              color: $primaryColour;
              background-color: $hightlightColour;
              padding: 10px 25px;
              border-radius: 50px;
              font-size: 0.88rem;
              font-weight: 500;
              transition: all 0.3s ease-in-out 0s;
              box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px,
                rgb(0 0 0 / 30%) 0px 7px 13px -3px,
                rgb(0 0 0 / 20%) 0px -3px 0px inset;

              &:hover {
                background-color: $hightlightColourHover;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .event-card.hide {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .contact-page {
    padding: 40px 20px 40px 20px;
    .contact-text {
      h1 {
        padding-top: 0;
        font-size: 2.8rem;
        margin-bottom: 35px;
      }
      h2 {
        font-size: 1.2rem;
        line-height: 30px;
      }
    }
    .contact-image {
      padding-top: 0;
    }
  }

  .events-page {
    .events-page__inner-container {
      padding: 40px 20px 40px 20px;
      .events-title-container {
        .events-title-container__title {
          h1 {
            font-size: 2.8rem;
          }
        }
        .events-title-container__filters {
          flex-direction: column;
          align-items: flex-start;
          label {
            margin-bottom: 10px;
          }
          select#CatSelect {
            margin-bottom: 15px;
          }
          .loading-message {
            margin-left: 0;
            margin-bottom: 15px;
          }
          a {
            margin-left: 0;
            h3 {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 600px) {
  .events-page {
    .events-page__inner-container {
      .events-title-container {
        .events-title-container__filters {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .eventpage-card-container {
    .event-card {
      .event-card__information {
        h2 {
          font-size: 1.1rem;
          line-height: 21px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .eventpage-card-container {
    .event-card {
      .event-card__information {
        p.event-summary {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .eventpage-card-container {
    .event-card {
      .event-card__information {
        .event-time-container {
          p {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .eventpage-card-container {
    .event-card {
      .event-card__information {
        p.event-summary {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .events-page {
    .events-page__inner-container {
      .events-title-container {
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .eventpage-card-container {
    .event-card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 910px) {
  .eventpage-card-container {
    .event-card {
      .event-card__information {
        .event-tag-container {
          margin: 0;
          .event-tag-container__venue {
            display: none;
          }
          .event-tag-container__category {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 745px) {
  .eventpage-card-container {
    .event-card {
      max-width: 390px;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .eventpage-card-container {
    .event-card {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-radius: 10px;
      .event-card__poster {
        border-radius: 10px 0 0 10px;
        box-shadow: unset;
        filter: unset;
      }
      .event-card__information {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        margin: 0;
        border-radius: 0px 10px 10px 0;
        .event-time-container {
          margin: 10px 0 0 0;
          h5 {
            margin: 0;
            font-weight: 400;
          }
        }
        .event-card-footer-container {
          flex-direction: column;
          width: 100%;
          .event-card-footer-container__inner-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3px;
            width: 100%;
            .event-card-footer-container__share {
              order: 2;
              svg {
                width: 30px;
                height: 30px;
                margin-bottom: 11px;
              }
              p {
                display: none;
              }
            }
            .event-card-footer-container__price {
              margin: 0;
              font-weight: 600;
              color: #fff;
              h5 {
                margin: 0;
              }
            }
          }
          .event-card-footer-container__btn {
            flex-direction: column;
            width: 100%;
            display: block;
            a {
              display: block;
              width: 100%;
              button {
                width: 100%;
                padding: 10px;
                font-size: 0.77rem;
                text-transform: uppercase;
                border-radius: 2px;
                border: unset;
                background-color: #37aa9c;
                color: #fff;
                font-weight: 500;
                box-shadow: $boxshadow;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 714px) {
  .eventpage-card-container {
    .event-card {
      width: 100%;
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 370px) {
  .eventpage-card-container .event-card .event-card__poster {
    width: 45%;
  }
  .eventpage-card-container .event-card .event-card__information {
    width: 55%;
  }
}
