@import "../components/layout";

.white-background {
  background-color: $primaryColour;
  padding-bottom: 75px;
  margin-bottom: -100px;
  .divider {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    svg {
      margin-top: -1px;
      margin-left: -2px;
      margin-right: -2px;
    }
  }
  .ep-01,
  .ep-02,
  .ep-03 {
    padding: 0 20px;
  }
  .ep-01 {
    max-width: $pageWidth;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ep-01__image {
      width: 60%;
    }
    .ep-01__information {
      width: 38%;
      //max-width: 400px;
      .ep-text,
      .ep-sub-title {
        max-width: 400px;
      }
    }
  }
  .ep-02 {
    margin: 50px auto 0px auto;
    padding: 100px 20px 110px 20px;
    background-color: $secondaryColour;
    .ep-02__inner-container {
      max-width: $pageWidth;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .ep-text {
        max-width: 1000px;
        text-align: center;
        color: $primaryColour;
      }
      .ep-title {
        color: $primaryColour;
      }
      .ep-02__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        margin: 25px auto 0 auto;
        .ep-card {
          background-color: #333f44;
          width: 31%;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 40px;
          margin-right: 3.33%;
          text-decoration: unset;
          transition: all 0.3s ease-in-out;
          position: relative;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            transform: scale(1.05);
          }
          .ep-card__icon {
            position: relative;
            width: 100%;
            svg {
              width: 100%;
              height: 100%;
            }
            p {
              position: absolute;
              top: 39px;
              left: 0;
              font-size: 2.6rem;
              font-weight: 500;
              color: #fff;
              width: 100%;
              text-align: center;
              margin-bottom: 0;
              line-height: 45px;
            }
          }
          h5 {
            font-size: 2rem;
            color: #fff;
            font-weight: 500;
            margin-bottom: 0px;
          }
          &:last-child {
            h5 {
              font-size: 1.8rem;
            }
          }
        }
        .coming-soon-overlay {
          position: absolute;
          width: 100%;
          background-color: rgba(50, 50, 50, 0.9);
          height: 100%;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 9;
          p {
            color: #fff;
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .ep-03 {
    max-width: 1300px;
    margin: 75px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ep-03__image {
      width: 48%;
      margin-left: 7%;
      display: flex;
      justify-content: flex-end;
    }
    .ep-03__information {
      width: 45%;
      max-width: 440px;
      h4 {
        max-width: 415px;
      }
      .learn-more-btn.donate {
        button {
          background-color: $hightlightColour;
          margin-right: 2.5%;
          max-width: 214px;
        }
      }
      .learn-more-btn.alt {
        button {
          background-color: unset;
          border: 1px solid $secondaryColour;
          color: $secondaryColour;
          max-width: 214px;
          &:hover {
            background-color: $secondaryColour;
            color: $primaryColour;
            opacity: 1;
          }
        }
      }
    }
  }
}

.ep-card:nth-child(1) .ep-card__icon {
  margin-bottom: 25px;
  max-width: 90px;
}
.ep-card:nth-child(2) .ep-card__icon {
  margin-bottom: 31px;
  margin-top: 10px;
  max-width: 105px;
}
.ep-card:nth-child(2):hover {
  cursor: not-allowed;
}
.ep-card:nth-child(3) .ep-card__icon {
  margin-bottom: 26.63px;
  margin-top: 10px;
  max-width: 105px;
}
.ep-card:nth-child(3):hover {
  cursor: not-allowed;
}

.ep-number {
  color: $hightlightColour;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2.5px;
}

.ep-title {
  font-size: 4rem;
  color: $secondaryColour;
  font-weight: 600;
  margin-bottom: 15px;
}

.ep-sub-title {
  font-size: 1.575rem;
  font-weight: 500;
  line-height: 35px;
  text-transform: capitalize;
  span {
    text-decoration: underline;
  }
}

.ep-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  span {
    font-weight: 700;
  }
}

.learn-more-btn {
  button {
    border: unset;
    padding: 15px 25px;
    color: $primaryColour;
    background-color: $secondaryColour;
    border-radius: 50px;
    font-size: 0.88rem;
    font-weight: 500;
    width: 100%;
    max-width: 214px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
  }
}

.hp-group {
  display: flex;
  flex-direction: column;
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 1050px) {
  .white-background {
    padding-bottom: 50px;
    .ep-02 {
      .ep-02__cards {
        .ep-card {
          h5 {
            font-size: 1.3rem;
          }
          &:last-child {
            h5 {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 850px) {
  .white-background {
    padding-bottom: 50px;
    .ep-01,
    .ep-02,
    .ep-03 {
      flex-direction: column;
    }
    .ep-01 {
      margin: 25px auto 50px auto;
      .ep-01__image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .gatsby-image-wrapper > div {
          max-width: 500px !important;
        }
      }
      .ep-01__information {
        width: 100%;
      }
    }
    .ep-02 {
      margin: 0 auto;
      padding: 50px 20px;
      .ep-02__inner-container {
        align-items: flex-start;
        .ep-text {
          text-align: left;
        }
        .ep-02__cards {
          flex-direction: column;
          margin: 5px auto 20px auto;
          .ep-card {
            width: 100%;
            max-width: 300px;
            margin: 0 auto 20px auto;
            padding: 30px;
            .ep-card__icon {
              p {
                font-size: 2rem;
                top: 30px;
                line-height: 35px;
              }
            }
            &:last-child {
              margin-right: auto;
              margin-bottom: 0;
              h5 {
                font-size: 1.2rem;
              }
            }
            h5 {
              font-size: 1.3rem;
            }
          }
          .coming-soon-overlay {
            p {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    .ep-03 {
      margin: 50px auto 0 auto;
      .ep-03__information {
        width: 100%;
        max-width: unset;
        margin-bottom: 50px;
      }
      .ep-03__image {
        width: 100%;
        justify-content: center;
        .gatsby-image-wrapper > div {
          max-width: 500px !important;
        }
      }
    }
  }
  .ep-number {
    font-size: 1.2rem;
  }
  .ep-title {
    font-size: 2.8rem;
  }
  .ep-sub-title {
    font-size: 1.3rem;
    line-height: 30px;
  }
  .ep-card:nth-child(1) .ep-card__icon {
    margin-bottom: 20px;
    max-width: 70px;
  }
  .ep-card:nth-child(2) .ep-card__icon {
    margin-bottom: 26px;
    margin-top: 10px;
    max-width: 85px;
  }
  .ep-card:nth-child(3) .ep-card__icon {
    margin-bottom: 21.63px;
    margin-top: 10px;
    max-width: 85px;
  }
  .hp-group {
    .upcoming-events {
      order: 2;
    }
    .hp-carousel {
      order: 1;
    }
  }
  .white-background .ep-01 .ep-01__information .ep-text,
  .white-background .ep-01 .ep-01__information .ep-sub-title {
    max-width: unset;
  }
}

// MEDIUM IPHONE
@media only screen and (max-width: 450px) {
  .white-background {
    .learn-more-btn button {
      max-width: 335px !important;
      padding: 20px 25px;
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 320px) {
}
