@import "./layout";

.annoucement-bar {
  width: 100%;
  background-color: $primaryColour;
  padding: 10px 20px;
  text-align: center;
  .annoucement-bar__inner-container {
    max-width: $pageWidth;
    margin: 0 auto;
    h3 {
      color: $secondaryColour;
      font-size: 0.688rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0;
      span {
        text-decoration: underline;
      }
    }
  }
}
