@import "./layout";

.annoucement-bar {
  width: 100%;
  background-color: $primaryColour;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  box-shadow: $boxshadow;
  .annoucement-bar__inner-container {
    max-width: $pageWidth;
    margin: 0 auto;
    a {
      text-decoration: unset;
      h3 {
        color: $secondaryColour;
        font-size: 0.688rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 16px;
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

.header-container.slim {
  .annoucement-bar {
    padding: 5px 20px;
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 992px) {
}

// PHONES/TABLETS
@media only screen and (max-width: 767px) {
  // .annoucement-bar {
  //   box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
  //     rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
  //     rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
  // }
  body .header-container.slim {
    background-color: unset;
    .annoucement-bar {
      padding: 10px 20px;
      //background-color: $tertiaryColor;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      // border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
      background: rgba($tertiaryColor, 0.65);
      .annoucement-bar__inner-container {
        a {
          h3 {
            color: $primaryColour;
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 305px) {
}
