@import "./layout";

.footer-background {
  border-top: 2px solid $tertiaryColor;
  background-color: $secondaryColour;
  // margin-top: 50px;
  .footer-inner-container {
    max-width: $pageWidth;
    margin: 0 auto;
    padding: 120px 20px 70px 20px;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  .footer-links__nav {
    display: flex;
    width: 70%;
    .footer-column {
      width: 33.333%;
      padding-right: 3%;
      h3 {
        color: $altColour;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 45px;
      }
      a {
        color: $primaryColour;
        text-decoration: unset;
        display: block;
        margin-bottom: 20px;
        &:hover {
          //text-decoration: underline;
          h4 {
            border-bottom: 2px solid $hightlightColour;
          }
        }
        h4 {
          display: inline;
          font-weight: 400;
          padding-bottom: 1px;
          border-bottom: 2px solid $secondaryColour;
          transition: all 0.2s ease-in-out;
          line-height: 28px;
        }
      }
      a.active {
        &:hover {
          cursor: default;
          h4 {
            cursor: default;
          }
        }
        h4 {
          //font-weight: 600;
          opacity: 0.2;
          border-color: $primaryColour;
        }
      }
    }
    .footer-column.logo {
      margin-top: -20px;
      margin-right: 25px;
    }
  }
  .footer-links__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    flex-wrap: wrap;
    .social-row {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;
      a {
        margin-right: 30px;
        .footer-social-icons {
          background-color: #333;
          padding: 14px;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
          box-shadow: $boxshadow;
          svg {
            color: $primaryColour;
            font-size: 32px;
            width: 28px;
            height: 28px;
          }
        }
        &:hover {
          .footer-social-icons {
            transform: scale(1.1);
            background-color: $hightlightColour;
          }
        }
      }
    }
  }
}

.footer-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .footer-info__policies-links {
    width: 30%;
    .policy-row {
      display: flex;
      a {
        color: $altColour;
        text-decoration: unset;
        display: inline;
        margin-right: 40px;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $primaryColour;
        }
        h4 {
          font-weight: 400;
          margin-bottom: 0;
          font-size: 0.9rem;
        }
      }
    }
  }
  .footer-info__copyright {
    color: $altColour;
    font-size: 0.9rem;
    line-height: 21px;
    a {
      color: $altColour;
      margin-left: 5px;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $primaryColour;
      }
    }
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 992px) {
  .footer-inner-container {
    .footer-info {
      margin-bottom: 20px;
    }
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 992px) {
  .footer-background {
    .footer-inner-container {
      max-width: $pageWidth;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }

  .footer-links {
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 450px;
    .footer-links__nav {
      width: 100%;
      flex-direction: column;
      .footer-column.logo {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 30px;
        &:after {
          content: unset;
        }
        a {
          max-width: 170px;
          display: block;
          margin-bottom: 10px;
        }
      }
      .footer-column {
        width: 100%;
        padding-right: 0;
        margin-bottom: 0;
        position: relative;
        &:after {
          content: "+";
          display: block;
          font-size: 25px;
          color: $altColour;
          position: absolute;
          top: -4.5px;
          right: 0;
        }
        a {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 1.1rem;
          margin-bottom: 0;
        }
        .footer-column__list {
          -webkit-transition: max-height 0.5s;
          -moz-transition: max-height 0.5s;
          -ms-transition: max-height 0.5s;
          -o-transition: max-height 0.5s;
          transition: max-height 0.5s;
          overflow: hidden;
          max-height: 0;
          margin: 17px 10px;
        }
      }
      .footer-column.-open {
        &:after {
          content: "-";
        }
        .footer-column__list {
          // HEIGHT OF CONTAINER
          max-height: 170px;
        }
      }
    }
    .footer-links__social {
      width: 100%;
      justify-content: unset;
      margin-top: 15px;
      flex-direction: row;
      .social-row {
        justify-content: flex-start;
        a {
          margin-right: 20px;
          .footer-social-icons {
            padding: 10px;
          }
        }
      }
    }
  }

  .footer-info {
    flex-direction: column;
    margin-bottom: 85px;
    .footer-info__policies-links {
      width: 100%;
      margin-bottom: 15px;
      .policy-row {
        a {
          margin-right: 20px;
        }
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 320px) {
  .footer-links {
    .footer-links__social {
      flex-direction: column;
    }
  }
}
