@import "./layout";

.instagram-feed {
  max-width: 1920px;
  margin: 75px auto;
  background-image: url(../images/layered-peaks-haikei.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .instagram-feed__inner-container {
    position: relative;
    max-width: $pageWidth;
    margin: 75px auto 50px auto;
    padding: 80px 20px 85px 20px;
    .ep-number {
      color: #94f3e4;
    }
    .instagram__title {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
    }
    svg {
      margin-left: 16px;
      width: 20px;
    }
  }
}

// FEED STYLING
.instagram-feed .juicer-feed,
.instagram-feed .juicer-feed li.feed-item {
  background-color: unset !important;
}

.instagram-feed .juicer-feed h1.referral {
  display: none;
}

.juicer-feed.slider .slick-prev,
.juicer-feed.slider .slick-next {
  display: none !important;
}
.juicer-feed.slider li.feed-item {
  margin-right: 20px;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: unset;
  }
}

body .juicer-feed.slider.j-modern li.feed-item a.j-image img {
  border-radius: 15px;
}

.juicer-feed.slider .j-text {
  background: rgba(51, 63, 68, 0.9);
  border-radius: 15px;
}
// HIDES BRANDING
[data-source="juicer"] {
  display: none !important;
}
// HIDES OVERLAY MESSAGE
.j-text,
.j-meta {
  display: none !important;
}

.j-overlay .j-overlay-content {
  border-radius: 20px;
}

.j-post-overlay.juicer-feed a.juicer-button {
  background-color: $hightlightColour;
  color: $primaryColour;
  border: unset;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 17px;
  width: 100%;
  max-width: 260px;
}
.j-post-overlay.juicer-feed ul.j-share {
  margin: 20px;
}
.j-post-overlay.juicer-feed ul.j-share a,
.j-post-overlay.juicer-feed ul.j-share a:before {
  color: $secondaryColour;
}

.j-overlay .j-close {
  background-position: center;
  background-size: 20px 20px;
  padding: 20px;
  background-color: $secondaryColour;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.j-post-overlay.juicer-feed .j-overlay-text {
  padding: 70px 25px 25px;
}

.j-post-overlay.juicer-feed .j-navigate {
  bottom: 20px;
  right: 20px;
}

.j-post-overlay.juicer-feed .j-navigate a.j-next {
  margin-left: 7px;
}
.j-post-overlay.juicer-feed .j-navigate a.j-previous {
  margin-right: 7px;
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous:before,
.j-post-overlay.juicer-feed .j-navigate a.j-next:before {
  font-size: 20px;
}

.j-post-overlay.juicer-feed .j-overlay-text .j-message a,
.j-post-overlay.juicer-feed .j-overlay-text .j-edit a {
  word-break: break-all;
}
/////

// TABLETS
@media only screen and (max-width: 800px) {
  body .j-overlay .j-overlay-content {
    width: 85% !important;
  }
  .j-post-overlay.juicer-feed ul.j-share {
    position: unset;
    text-align: center;
  }
  .j-post-overlay.juicer-feed .j-navigate {
    position: unset;
    margin-top: 0;
  }
  .j-post-overlay.juicer-feed .j-overlay-text {
    padding: 25px;
  }
  .j-post-overlay.juicer-feed a.juicer-button {
    max-width: unset;
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 1115px) {
  .instagram-feed {
    margin: 20px auto;
    background-position: left;
    .instagram-feed__inner-container {
      margin: 50px auto;
      padding: 50px 20px;
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 479px) {
  .juicer-feed.slider li.feed-item {
    margin-right: 0 !important;
  }
}
