@import "./layout";

.mobile-sidebar {
  display: none;
  height: 100%;
  overflow-y: scroll;
  width: 80%;
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  -webkit-flex-direction: column;
  flex-direction: column;
  .mobile-sidebar__logo {
    padding: 10px 20px;
    // border-bottom: 0.5px solid #444;
    background-color: #222;
  }
  ul {
    padding: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 0px;
      padding: 0;
      display: block;
      // &:last-child {
      //   a {
      //     padding-bottom: 0;
      //   }
      // }
      a {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 300;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 10px;
        margin: 2.5px auto;
        color: $primaryColour;
        text-decoration: unset;
        border-radius: 5px;
      }
      a.active {
        background-color: #37aa9c;
        box-shadow: $boxshadow;
      }
    }
  }
  .nav-divider {
    padding: 1px;
    border-radius: 20px;
    background-color: $hightlightColour;
    margin: 0 auto;
    width: calc(100% - 40px);
    box-shadow: $boxshadow;
  }
  ul.nav-list {
    &:before {
      display: block;
      font-size: 1rem;
      color: $primaryColour;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul.nav-list.section-one {
    &:before {
      content: "Arclight Music";
    }
  }
  ul.nav-list.section-two {
    &:before {
      content: "Policies";
      padding-top: 10px;
    }
  }
  .mobile-sidebar__footer {
    background-color: #222;
    // border-top: 1px solid #333;
    padding: 20px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    a {
      width: 100%;
      display: block;
      font-size: 1rem;
      font-weight: 300;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      padding: 0;
      color: $primaryColour;
      text-decoration: unset;
    }
  }
  .mobile-nav-cta {
    padding: 0 20px;
    margin: 30px auto 25px auto;

    .mobile-nav-cta__inner-container {
      position: relative;
      padding: 25px;
      background-color: $tertiaryColor;
      border-radius: 15px;
      box-shadow: $boxshadow;

      .mobile-nav-cta-icon {
        position: absolute;
        top: -25px;
        left: 50%;
        margin-left: -29.4px;
        padding: 15px 12px;
        border-radius: 50px;
        background-color: $hightlightColourHover;
        box-shadow: $boxshadow;
        svg {
          color: $primaryColour;
          font-size: 1.8rem;
        }
      }

      .mobile-nav-cta-title {
        color: $primaryColour;
        font-weight: 600;
        text-align: center;
        font-size: 0.88rem;
        padding-top: 30px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      .mobile-nav-cta-text {
        color: $primaryColour;
        text-align: center;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 0.88rem;
        line-height: 21px;
        max-width: 300px;
      }
    }
  }
}

html.menu-open .mobile-sidebar-overlay {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  z-index: 999;
}

// body.menu-open .mobile-sidebar {
//   display: flex;
// }

// TABLETS
@media only screen and (max-width: 900px) {
  .mobile-sidebar-overlay {
    display: none;
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 992px) {
}

// PHONES/TABLETS
@media only screen and (min-width: 767px) {
  .mobile-sidebar {
    display: none;
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 767px) {
}

// SMALL IPHONE
@media only screen and (max-width: 320px) {
}
