@import "./layout"; 

.trustpilot-widget.micro-review-counter {
    padding: 25px 0;
    border-bottom: 1px solid #333;
    iframe {
        margin-bottom: 0;
    }
}

.trustpilot-widget.review-collector {
    width: 100%;
    iframe {
        margin-bottom: 0; 
    }
}