@import "./layout";

.upcoming-events {
  background-color: $hightlightColour;
  padding: 30px 0px;
  .upcoming-events__inner-container {
    max-width: $pageWidth;
    padding: 0 20px;
    margin: 0 auto;
    p {
      font-size: 0.88rem;
      color: $primaryColour;
      margin-bottom: 3px;
    }
    .up-message {
      width: 100%;
      p {
        margin-bottom: 0;
      }
    }
    .upcoming-events__title {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      svg {
        margin-left: 16px;
        width: 20px;
      }
    }
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .upcoming-events {
    .upcoming-events__inner-container {
      // p {
      // }
      .upcoming-events__events {
        flex-direction: row;
        .event-card-container {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          a {
            width: calc(50% - 20px);
            max-width: 500px;
            margin: 10px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

// PHONES/TABLETS
@media only screen and (max-width: 767px) {
  .upcoming-events {
    .upcoming-events__inner-container {
      // p {
      // }
      // .upcoming-events__title {
      // }
      .upcoming-events__events {
        flex-direction: column;
        .event-card-container {
          flex-direction: column;
          align-items: center;
          a {
            width: 100%;
            max-width: 500px;
            margin-right: 0;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// SMALL IPHONE
@media only screen and (max-width: 320px) {
}

.event-card-container {
  display: flex;
  a {
    display: block;
    width: 20%;
    margin-right: 2%;
    color: $primaryColour;
    text-decoration: unset;
    transition: all 0.3s ease-in-out;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.05);
      .up-card {
        filter: unset;
        .up-card__overlay {
          background-color: rgba($secondaryColour, 0.75);
        }
      }
    }
    .up-card {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px,
        rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
        rgb(0 0 0 / 9%) 0px 32px 16px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(1);
      .up-card__overlay {
        transition: all 0.3s ease-in-out;
        background-color: rgba($secondaryColour, 0.85);
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .up-card__info {
        z-index: 9;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 25px;
        .up-date {
          background-color: $primaryColour;
          padding: 18px 12px 12px 12px;
          border-radius: 0 0 7px 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .up-date__day {
            color: $secondaryColour;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 13px;
          }
          .up-date__month {
            color: $secondaryColour;
            font-weight: 500;
            font-size: 0.7rem;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }
        h3 {
          font-size: 1rem;
          line-height: 25px;
          max-height: 72px;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          margin-bottom: -5px;
          margin-left: 8%;
          padding-top: 12px;
        }
      }
      .up-card__location {
        z-index: 9;
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px 25px;
        h5 {
          margin-bottom: 0;
          font-weight: 300;
        }
        .up-card-location {
          margin-left: 3px;
        }
        .up-card-location-icon {
          margin-right: 7px;
          margin-bottom: -2px;
          svg {
            width: 100%;
            max-width: 10px;
            height: 100%;
          }
        }
      }
    }
  }
}

//  HIDES ANY MORE EVENT CARDS BEYOND 5
.event-card-container {
  a {
    &:nth-child(n + 6) {
      display: none;
    }
  }
}

// TABLETS
@media only screen and (min-width: 767px) and (max-width: 992px) {
}

// PHONES/TABLETS
@media only screen and (max-width: 1100px) {
  //  HIDES ANY MORE EVENT CARDS BEYOND 4
  .event-card-container {
    a {
      &:nth-child(n + 5) {
        display: none;
      }
    }
  }
}
